ul {
  list-style: none;
  display: flex;
  gap: 20px;
}
@media (max-width: 767px) {
  ul {
    flex-direction: column;
  }
}

a {
  text-decoration: none;
  color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Bai Jamjuree", sans-serif;
  font-style: normal;
}

.ind {
  text-align: center;
}
.ind h1 {
  color: hsl(210, 10%, 33%);
}
.ind p {
  width: 400px;
  margin: auto;
  text-align: center;
  margin-bottom: 15px;
  font-size: 14px;
  color: hsl(201, 11%, 66%);
}
@media (max-width: 767px) {
  .ind p {
    max-width: 300px;
  }
}

.first-part {
  background-image: url("../images/bg-header-desktop.png");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px 60px 0;
}
@media (max-width: 767px) {
  .first-part {
    padding: 40px 30px 0;
  }
}
@media (max-width: 375px) {
  .first-part {
    background-image: url("../images/bg-header-mobile.png");
  }
}
.first-part .img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.first-part .buttons {
  width: fit-content;
  margin: auto;
}
.first-part .buttons li {
  border-radius: 27Px;
  font-size: 14px;
  width: 200px;
  height: 36px;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  transition: 0.5s;
}
.first-part .buttons li.iOS {
  background-color: hsl(171, 66%, 44%);
}
.first-part .buttons li.iOS:hover {
  opacity: 0.9;
  box-shadow: 2px 4px 15px hsl(171, 66%, 44%);
}
.first-part .buttons li.Mac {
  background-color: hsl(233, 100%, 69%);
}
.first-part .buttons li.Mac:hover {
  opacity: 0.9;
  box-shadow: 2px 4px 15px hsl(233, 100%, 69%);
}

@media (min-width: 1200px) {
  .track-part {
    padding: 20px 60px 20px 0;
  }
}
@media (max-width: 767px) {
  .track-part {
    padding: 20px 30px;
  }
}
.track-part .ind {
  text-align: center;
}
.track-part .ind h1 {
  color: hsl(210, 10%, 33%);
}
.track-part .ind p {
  width: 400px;
  margin: auto;
  text-align: center;
  margin-bottom: 15px;
  font-size: 14px;
  color: hsl(201, 11%, 66%);
}
@media (max-width: 767px) {
  .track-part .ind p {
    max-width: 300px;
  }
}
.track-part .part-tow {
  display: flex;
  align-items: center;
  gap: 10%;
}
@media (max-width: 767px) {
  .track-part .part-tow {
    flex-direction: column;
  }
}
.track-part .part-tow .img {
  flex-basis: 45%;
}
.track-part .part-tow .img img {
  max-width: 100%;
}
.track-part .part-tow .text div {
  margin: 20px 0;
}
@media (max-width: 767px) {
  .track-part .part-tow .text div {
    text-align: center;
  }
}
.track-part .part-tow .text div h3 {
  color: hsl(210, 10%, 33%);
}
.track-part .part-tow .text div p {
  color: hsl(201, 11%, 66%);
  max-width: 400px;
}

@media (min-width: 1200px) {
  .Access-part {
    padding: 20px 60px;
  }
}
@media (max-width: 767px) {
  .Access-part {
    padding: 20px 30px;
  }
}
.Access-part .img {
  display: flex;
  justify-content: center;
}
@media (max-width: 767px) {
  .Access-part .img img {
    width: 400px;
    margin-top: 15px;
  }
}

.workflow-part .prop {
  display: flex;
  padding: 20px 60px;
  gap: 20%;
}
@media (max-width: 767px) {
  .workflow-part .prop {
    padding: 10px 30px;
    flex-direction: column;
  }
}
.workflow-part .prop .box {
  flex-basis: 20%;
  text-align: center;
}
@media (max-width: 767px) {
  .workflow-part .prop .box {
    margin-bottom: 20px;
  }
}
.workflow-part .prop .box img {
  margin-bottom: 20px;
}
.workflow-part .prop .box h4 {
  color: hsl(210, 10%, 33%);
  margin-bottom: 10px;
}
@media (max-width: 767px) {
  .workflow-part .prop .box h4 {
    margin-bottom: 20px;
  }
}
.workflow-part .prop .box p {
  color: hsl(201, 11%, 66%);
  font-size: 13px;
}

.copny {
  display: flex;
  gap: 10%;
  padding: 40px 60px;
}
@media (max-width: 767px) {
  .copny {
    padding: 20px 30px;
    flex-direction: column;
  }
}
@media (max-width: 991px) {
  .copny {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 767px) {
  .copny img {
    width: fit-content;
    margin: auto;
    margin-bottom: 40px;
  }
}
@media (max-width: 991px) {
  .copny img {
    margin-top: 30px;
  }
}

.clipbard {
  padding: 40px 60px;
}
@media (max-width: 767px) {
  .clipbard {
    padding: 20px 30px;
  }
}
.clipbard .buttons {
  width: fit-content;
  margin: auto;
}
.clipbard .buttons li {
  border-radius: 27Px;
  font-size: 14px;
  width: 200px;
  height: 36px;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  transition: 0.5s;
}
.clipbard .buttons li.iOS {
  background-color: hsl(171, 66%, 44%);
}
.clipbard .buttons li.iOS:hover {
  opacity: 0.9;
  box-shadow: 2px 4px 15px hsl(171, 66%, 44%);
}
.clipbard .buttons li.Mac {
  background-color: hsl(233, 100%, 69%);
}
.clipbard .buttons li.Mac:hover {
  opacity: 0.9;
  box-shadow: 2px 4px 15px hsl(233, 100%, 69%);
}

footer {
  background-color: hsla(0, 0%, 94.1%, 0.5);
  padding: 40px 60px;
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  footer {
    padding: 20px 30px;
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }
}
footer img {
  width: 100px;
}
footer .list {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
}
@media (max-width: 767px) {
  footer .list {
    display: block;
  }
}
footer .list ul {
  display: block;
}
footer .list ul li {
  color: hsl(201, 11%, 66%);
  margin-bottom: 20px;
  cursor: pointer;
}
footer .list ul li:hover {
  color: hsl(210, 10%, 33%);
}
footer .Communicate svg {
  margin: 0 10px;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
