@import "varble && mixsin"
*
    margin: 0
    padding: 0
    box-sizing: border-box
body
  font-family: "Bai Jamjuree", sans-serif
  font-style: normal
  @include for-size(desktop)
    padding: 0 60px
  @include for-size(max-mobile )
    padding: 0 30px
.first-part
    background-image: url("../images/bg-header-desktop.png")
    background-size: cover
    background-position: center
    padding-top: 80px 

    